header{
    padding: 20px 0;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 50rem;



}