/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color:rgb(0, 0, 0);
}


nav .row{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 0;
}

.scrolling-layout-row{
    padding-bottom: 5rem;
}

.scrolling-layout-row:nth-of-type(odd){
    background-color: cornflowerblue;
}

.scrolling-layout-row:nth-of-type(even){
    background-color:white;
}

.scrolling-layout-project-image{
    margin-right:auto;
    margin-left:auto;
    display:block;
}

.nav{
    margin-top: 3rem;
    border-top: .1rem solid cornflowerblue;
    color: cornflowerblue;
    word-spacing: 11rem;
    text-align: center;
    border-bottom: .1rem solid cornflowerblue;
    font-size: medium;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.container {
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
    color: black;
}


.navbar-link {
    font-family: 'Pacifico', cursive;
}
.navbar{
    font-family: 'Pacifico', cursive;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-top: .1rem solid cornflowerblue;
    color: black;
    text-align: center;
    border-bottom: .1rem solid cornflowerblue;
    font-size: medium;
}

.head a:hover{
    color: cornflowerblue;
}

.row{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5rem;
    vertical-align: bottom;

}

.title{
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Pacifico', cursive;
    text-decoration: underline;
    text-decoration-color: cornflowerblue;
    text-decoration-style: solid;
}

.stretched-link {
    color: black;
}

.stretched-link:hover{
    color: black;
}

.card-text{
    margin-top:1rem;
}

.card-title{
    margin-top:10rem;
}

.text-align{
    text-align:center;
}

.texts{
    text-align: left;
}